NTFY_CHANNEL=YOUR_NTFY_CHANNEL             # (Keep this or change to any random string)
REMOTE_HOST=https://.ngrok-free.dev        # (Keep this or change to your actual ngrok URL or change to your cloudflare random URL after start or your Permanent owned cloudflare subdomain or domain)
AUTH_USER=YOUR_USERNAME
AUTH_PASS=YOUR_PASSWORD


# ---------RUN THESE COMMANDS TO TEST THE SERVER--------- #
# kaggle kernels push -p . --accelerator NvidiaTeslaT4

# curl -s ntfy.sh/YOUR_NTFY_CHANNEL/raw

# python local_proxy.py

# curl -d "SHUTDOWN_GPU" ntfy.sh/YOUR_NTFY_CHANNEL