NTFY_CHANNEL=YOUR_NTFY_CHANNEL                         # (Keep this or change to any random string)
REMOTE_HOST_LLM=https://.ngrok-free.dev        # (Keep this or change to your actual ngrok URL or change to your cloudflare random URL after start or your Permanent owned cloudflare subdomain or domain)
REMOTE_HOST_EMB=https://.ngrok-free.dev        # (Keep this or change to your actual ngrok URL or change to your cloudflare random URL after start or your Permanent owned cloudflare subdomain or domain)
AUTH_USER=YOUR_USERNAME
AUTH_PASS=YOUR_PASSWORD


# ---------RUN THESE COMMANDS TO RUN THE SERVERS--------- #
kaggle kernels push -p . --accelerator NvidiaTeslaT4

curl -s ntfy.sh/YOUR_NTFY_CHANNEL/raw

python dual_local_proxy.py

curl -d "SHUTDOWN_LLM_NODE" ntfy.sh/YOUR_NTFY_CHANNEL
curl -d "SHUTDOWN_EMBED_NODE" ntfy.sh/YOUR_NTFY_CHANNEL

# ---------RUN THESE COMMANDS TO RUN THE SERVERS--------- #